/* 1920px - 공통 CSS */
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
}

/* === 공통 타이틀 + 여백 === */
.section-header {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    position: static;
}

.header-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-top span {
    font-weight: 500;
    color: #5642F1;
}

.header-top .section-title {
    font-size: calc(var(--default-FZ)*2);
    font-weight: 700;
    color: #27262F;
    line-height: var(--small-LH);
}

.header-bottom {
    font-size: var(--default-FZ);
    font-weight: 400;
    margin-bottom: 52px;
    color: #27262F;
}


/* 햄버거 메뉴 */
#mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: min(80%, 320px);
  /* max-width: 280px; */
  height: 100%;
  background: #fff;

  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  
  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1001;

}

#mobile-nav header {
  padding: 0 0.875rem; 
}

/* 메뉴 open */
body.menu_active #mobile-nav {
  transform: translateX(0);
}

body.menu_active {
  overflow: hidden;
}

/* 메뉴 리스트 */
#mobile-nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-nav nav li {
  border-bottom: 1px solid #222;
}

#mobile-nav nav ul li:hover {
  background: #5f4de9;
}

#mobile-nav nav ul li:hover a {
  color: #fff;
}

#mobile-nav nav a {
  font-size: calc(var(--default-FZ)*1.25);
  font-weight: 600;
  color: #222;
  text-decoration: none;
  display: block;

  transition: 0.2s;
}

/* 오버레이 */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--Blur, rgba(210, 210, 215, 0.45));
  backdrop-filter: blur(3px);
  
  display: flex;
  flex-direction: column;
  padding: 24px;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  z-index: 1000;
}

/* 오버레이 - open */
body.menu_active .menu-overlay {
  opacity: 1;
  visibility: visible;
}


/* hover 효과 */
#mobile-nav nav a:hover {
  color: #6C5CE7; /* 포인트 컬러 */
}


#mobile-nav nav {
  flex: 1;
}

#mobile-nav nav ul li {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 21px;
  font-weight: 500;
  border-bottom: 1px solid var(--black);
}

#mobile-nav #close {
  display: none;
  background: none;
  border: none;
}

/* 레이아웃 */

/* ====== Topbar ====== */
header {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
}

header .mobile {
  width: 40px;
  height: 40px;
}

header .mobile > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* header .mobile {
  display: none;
} */

.topbar-inner {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 72px 1fr 72px;
  align-items: center;
  padding: 0 0.875rem;
}

/* 좌우 동일폭 */
.topbar-slot{
  /* flex: 0 0 72px; */
  display: flex;
  align-items: center;
}

.topbar-logo{
  text-decoration: none;
  color: inherit;
}

.logo-mark{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 22px; */
  font-size: calc(var(--default-FZ)*1.375);
}

/* ====== Center Nav ====== */
.pc-nav{
  flex: 1;
  display: flex;
  justify-content: center;
}

ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  /* gap: 36px; */
  gap: 2.25rem;
  /* margin: 0;
  padding: 0; */
}

.nav-link{
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 8px; */
  gap: 0.5rem;

  /* aspect-ratio: 1 / 1; */
  /* font-size: 18px; */
  font-size: calc(var(--default-FZ)*1.125);
  font-weight: 700;
  line-height: 1;
  color: #27262F;

  /* 부드러운 컬러 전환 */
  transition: color 0.25s ease;
}

.nav-link.is-active{
  color: #6C5AF4;
}

.nav-dot{
  display: inline-block;   /* 추가 ⭐ 핵심 */
  width: 6px;
  height: 6px;
  flex: 0 0 6px;
  background-color: #6C5AF4;
  
  border-radius: 50%;

  opacity: 0;
  transition: opacity 0.25s ease;
}

.nav-link.is-active .nav-dot{
  opacity: 1;
}


/* === Learning to See 섹션 === */
.learining {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 1060px;
    background-color: #fff;
    position: relative;
}

.sketch-wrap{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.sketch-card{
    overflow: hidden;
    border-radius: 4px;
}

.sketch-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sketch-card.large{
    width: 330px;
    height: 380px;
}

.sketch-stack{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sketch-card.small{
    width: 330px;
    height: 180px;
}

.text-wrap {
    max-width: 900px;
    padding-top: 62px;
    margin: 0 auto;
    text-align: center;
}

.text-wrap p{
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    color: #211;
    margin-bottom: 18px;
}

.text-wrap .strong{
    margin-top: 28px;
    font-weight: 700;
}

.text-wrap p:last-child{
    margin-bottom: 0;
}



/* === Seeing in Context 섹션 === */
.seeing {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 1200px;
    background-color: #FBFAFF;
    position: relative;
}

.photo-row-top {
    background-color: #fff;
    padding: 49px 24px 24px 203px;
    box-shadow: 0 0 12px #E8E6FF;
    border-radius: 0 12px 12px 0;
    margin-bottom: 90px;
    position: relative;
}

.photo-card-wrap {
    display: flex;
    gap: 30px;
    background-color: #fff;
    justify-content: flex-end;
}



.photo-card {
    margin-top: 10px;
}

.photo-row-top span {
    position: absolute;
    right: 24px;
    top: 10px;

    padding: 5px 20px;
    border-radius: 8px;

    background: #8B6BFF;
    color: #fff;

    font-weight: 500;
}

.photo-card img{
    width: 280px;
    height: 320px;
    object-fit: cover;

    border-radius: 12px;
    display: block;
}

.photo-row-bottom {
    display: flex;
    gap: 30px;
    background-color: #fff;
    justify-content: flex-start;
    padding: 49px 24px 24px 20px;
    box-shadow: 0 0 12px #E8E6FF;
    border-radius: 12px 0 0 12px;
    position: relative;
}

.photo-row-bottom span {
  position: absolute;
  left: 24px;
  top: 10px;

  padding: 5px 20px;
  border-radius: 8px;

  background: #8B6BFF;
  color: #fff;
}




/* === Refining Judgement 섹션 === */
.refining {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 1200px;
    background-color: #fff;
    position: relative;
}



/* === Credentials 섹션 === */
.Credentials {
    width: 100%;
    min-height: 560px;
    background-color: #FBFAFF;
    text-align: center;
    position: relative;
}

.Credentials h2 {
  font-weight: 700;
  color: #5642F1;
  font-size: calc(var(--default-FZ)*1.5);
}

.card-box-wrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.card-box { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  width: 100%;
  max-width: 200px;

  aspect-ratio: 200 / 204;
  background-color: #fff;
  border: 1px solid #5642F1;
  border-radius: 20px;
}

.card-box img {
  display: block;
  width: 60px;
}

.card-box span {
  font-size: calc(var(--default-FZ)*1.25);
  font-weight: 500;
}


.img-wrap{
    position: relative;
    width: 64px;
    height: 64px;
}

.img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
}

.color-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card-box:hover .gray-img{
    opacity: 0;
    cursor: pointer;
}

.card-box:hover .color-img{
    opacity: 1;
    cursor: pointer;
}

.card-box span{
    font-size: 18px;
    font-weight: 500;
    color: #27262F;
}

